/* EVERYTHING */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#root {
    max-width: 100vw;
    height: 100vh;
    background: rgb(121,184,255);

    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 1325px;
    height: 300px;

    display: flex;
    justify-content: space-between;
}

/* PROFILE COMPONENT */

#profile {
    width: 300px;
    height: 300px;
    background: #172A45;
    border-radius: 5px;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

#me {
    width: 150px;
    height: 150px;

    overflow: hidden;
    border-radius: 50%;
}

#me img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#socials {
    width: 300px;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap row;
}

#name {
    color: #cdd7f3;
}

.desc {
    color: #8892B0;
}

.icon {
    color: #8892B0;
    font-size: 1.5rem;
    cursor: pointer;
}

.icon:hover {
    color: white;
}

/* TERMINAL COMPONENT */

#terminal {
    width: 1000px;
    height: 300px;
    background: #172A45;
    border-radius: 5px;
    overflow: hidden;
}

#bar {
    height: 30px;
    width: 1000px;
    background: #433F45;

    display: flex;
    justify-content: space-between;
}

#exit {
    height: 30px;
    width: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#red, #yellow, #green {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

#red {
    background: #FA615C;
}

#yellow {
    background: #FFBD48;
}

#green {
    background: #3FC950;
}

#title-container, #title {
    color: #8892B0;
    text-align: center;
    width: 1000px;
    line-height: 30px;
}

#commandLine {
    height:270px;
    width: 1000px;
    color: #8892B0;
    padding: 0.5rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.original, .original:visited {
    text-decoration: none;
    color: cyan;
}

.command {
    color: #FA615C;
}

.prompt {
    color: #9ddfd3;
}